.page-admin #panels-dnd-main .top-region-wrapper {
    margin: 0 0 10px 0;
}
.page-admin #panels-dnd-main .stats-line-wrapper {
    margin: 0 0 10px 0;
}
.page-admin #panels-dnd-main .home-content-wrapper {
    white-space: nowrap;
}
.page-admin #panels-dnd-main .home-content-wrapper .home-content .side-content.left {
    display: inline-block;
    width: 49.5%;
    margin: 0 0.5% 10px 0;
    vertical-align: top;
}
.page-admin #panels-dnd-main .home-content-wrapper .home-content .side-content.right {
    display: inline-block;
    width: 49.5%;
    margin: 0 0 10px 0.5%;
    vertical-align: top;
}
.page-admin #panels-dnd-main .bottom-wrapper {
    margin: 0 0 10px 0;
}
