////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////

//////////////////////////////
// CSS Resets
//
// Choose your CSS Reset method:
//  If you'd like a hard reset, uncomment `compass/reset`.
//  If you'd prefer a soft reset, uncomment `normalize`
//////////////////////////////
@import "../global/base";
@import "../global/mixins";

/* ***************************** */
/* General - or - Generic styles */
/* ***************************** */
body {
  background: $light_color;
}
.branding-navigation-wrapper {
  @include box-shadow(material-bottom-shadow(1));
  background: $white_neutral;
  position: relative;
  z-index: 10;

  @include breakpoint($desktop) {
    padding: rem(20px 0);
  }
}
/* ******************* */
/* Buttons and related */
/* ******************* */

/* ***************** */
/* Menus and related */
/* ***************** */
.pane-system-user-menu {
  ul {
    @include clearfix;
    float: right;
    li {
      list-style: none;
      float: left;
      a {
        @include font-size(small);
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
.pane-page-logo {
  img {
    width: 35%;
    height: auto;
  }
}
.pane-system-main-menu {
  position: relative;
  z-index: 10;
  ul {
    padding: rem(10px 0 0 0);
    margin: 0;
    float: right;
    li {
      list-style: none;
      float: left;
      position: relative;
      a {
        @include font-size(normal);
        text-transform: uppercase;
        text-decoration: none;
        padding: rem(5px 0);
        margin: rem(0 5px);
        display: inline-block;
      }
      ul {
        @include box-shadow(material-bottom-shadow(1));
        background: $white_neutral;
        position: absolute;
        padding: 0;
        display: none;
        left: rem(-10px);

        li {
          margin: 0;
          padding: rem(0 10px);
          width: rem(100px);

          &:hover {
            background: $light_color;
          }
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }
}
/* **************** */
/* TABS AND RELATED */
/* **************** */

/* *************** */
/* Panes and Cards */
/* *************** */
.breadcrumb {
  margin: rem(30px 0 0);
  a {
    @include font-size(small);
    text-transform: uppercase;
    color: $text_color;
    text-decoration: none;
  }
}
.submitted {
  @include font-size(small);
  a {
    @include font-size(small);
  }
}
.date-display-interval,
.top-line {
  @include font-size(small, 300, normal);
  em {
    font-style: normal;
  }
}
.rate-wrapper {
  float: right;
  .rate-widget {
    position: relative;
    top: rem(10px);
    display: inline-block;

    .rate-number-up-down-btn-up,
    .rate-number-up-down-btn-down {
      font-size: 0;
      background: none;
      display: inline-block;
      text-indent: 0;
      width: auto;
      height: auto;
      margin: 0;

      text-decoration: none;
      color: $gray;
    }
    .rate-number-up-down-rating {
      padding: rem(0 10px);
      display: inline-block;
    }
    .rate-number-up-down-btn-up {
      @include icon(before, thumb_up) {
        font-size: 1rem;
      }
    }
    .rate-number-up-down-btn-down {
      @include icon(before, thumb_down) {
        font-size: 1rem;
      }
    }
  }
}
.field-name-field-q-attachments {
  @include font-size(small);
  margin: rem(10px 0);
}
.file {
  .file-attach.icon {
    @include font-size(small, 300);
    @include border-radius(5px);
    @include icon(before, attachment) {
      margin-right: rem(5px);
    }
    margin-right: rem(5px);
    padding: rem(3px 5px);
    display: inline-block;
    background: $light_color;
    color: $gray;
    text-transform: lowercase;
  }
}

/* ******************** */
/* Ratings: Stars, etc. */
/* ******************** */
.flag-follow,
.flag-reported_comments {
  margin-right: 0;
  padding-right: 0;

  .flag-action {
    @include icon(before, turned_in) {
      font-size: 1.7rem;
      position: relative;
      top: rem(5px);
    }
    text-decoration: none;
  }
  .unflag-action {
    @include icon(before, turned_in_not) {
      font-size: 1.7rem;
      position: relative;
      top: rem(5px);
    }
    text-decoration: none;
  }
}
.flag-reported_comments {
  position: relative;
  top: -3px;
  color: $gray;
  margin: rem(0 10px);
  @include font-size(small);
  a {
    @include font-size(small);
    color: $gray;
  }

  .flag-action,
  .unflag-action {
    @include icon(before, flag) {
      font-size: 1.2rem;
      position: relative;
      top: 2px;
    }
  }
}
.view-governmental-progress {
  .views-row {
    margin: rem(20px 0);
  }
  .field-content {
    @include font-size(normal, 300);
  }
  .update .progress-status-wrapper {
    @include icon(before, directions_run);
  }
  .blocker .progress-status-wrapper {
    @include icon(before, goat);
  }
  .conclusion .progress-status-wrapper {
    @include icon(before, done_all);
  }
  .update .progress-status-wrapper,
  .conclusion .progress-status-wrapper,
  .blocker .progress-status-wrapper {
    @include font-size(normal);
    text-transform: uppercase;
    &:before {
      font-size: 1.2rem;
      display: inline-block;
      margin-right: rem(5px);
    }
  }
  ul {
    margin:0;
    padding:0;
    li {
      list-style: none;
      a {
        color: $text_color;
        @include font-size(small);
      }
    }
  }
}

/* ****** */
/* Footer */
/* ****** */

/* *******************  */
/* MESSAGES and related */
/* *******************  */
.pane-page-messages {
  @include container();
  padding: rem(20px 20px 0px);

  .messages {
    @include font-size(small, 300);
    border-right: 0 none;
    border-left: 0 none;
    position: relative;

    background-image: none;

    @include icon(before, check);

    &.error {
      @include icon(before, error_outline);
    }
    &.warning {
      @include icon(before, info_outline);
    }

    &:before {
      font-size: 1.5rem;
      @include v-align-center;
      left: rem(20px);
    }

    li {
      margin: rem(10px 0);
    }
  }

  @include breakpoint($desktop) {
    padding: rem(20px);
  }
}

.small-footer {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

/* ************* */
/* FORM ELEMENTS */
/* ************* */
#views-exposed-form-search-panel-pane-search {
  #edit-search-api-views-fulltext-wrapper {
    @include span(12 of 12);
    text-align: center;

    label {
      display: none;
    }
    .form-item-search-api-views-fulltext {
      @include icon(after, search) {
        font-size: 1.5rem;
        position: relative;
        left: rem(-35px);
        top: rem(5px);
      }
    }
    input {
      @include font-size(normal);
      background: transparent;
      outline: none;
      border: 2px solid $gray;
      padding: rem(5px 10px);
    }
  }
  #edit-field-q-location-wrapper {
    @include span(6 of 12 inside);
    label {
      @include font-size(normal);
      margin: rem(10px 0 5px);
    }
  }
  #edit-field-q-industry-wrapper {
    @include span(6 of 12 inside);
    label {
      @include font-size(normal);
      margin: rem(10px 0 5px);
    }
  }
  .views-submit-button {
    display: none;
  }
}
select {
  @include border-radius(2px);
  background: $white_neutral;
  padding: rem(5px)
}

/* ************* */
/* MISC ELEMENTS */
/* ************* */
