////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, style guide, layout, and design partials.
////////////////////////

////////////////////////
// Base Import
////////////////////////
@import 'partials/global/base';

////////////////////////
// Import Style Guide
////////////////////////
@import 'partials/styleguide/style-guide';

////////////////////////
// Import Layout
////////////////////////
@import 'partials/layout/layout';

////////////////////////
// Import Design
////////////////////////
@import 'partials/design/design';

/* *********************************** */
/* *********************************** */
/* *********************************** */

/* *************** */
/* *** GENERAL *** */
/* *************** */
.pane-announcements-panel-pane-1 .pane-content,
.pane-quicktabs-latest-updates,
.pane-quicktabs-trending,
.pane-views-exp-search-panel-pane-search .pane-content,
.pane-search-panel-pane-search,
.pane-node-content,
.pane-governmental-progress-government-progress,
.pane-node-comment-form,
.pane-question-comments-panel-pane-1,
.pane-node-field-q-status,
.pane-governmental-progress-fsea-progress,
.standard-white-pane,
.pane-page-content .node-page,
.pane-categories-panel-pane-1,
.pane-categories-panel-pane-2,
.pane-categories-panel-pane-3,
.pane-categories-panel-pane-4,
.pane-categories-panel-pane-5,
.pane-tutorials-panel-pane-1,
.pane-experiences,
.pane-questions-panel-pane-1,
.page-user .pane-q-as-panel-pane-2,
.page-user .pane-quicktabs-following {
  @include material-card(1);
  background: $white_neutral;
  padding: rem(20px);
  margin-bottom: rem(20px);

  .pane-title {
    @include font-size(big);
    padding: 0;
    margin: rem(0 0 10px 0);
  }
}
.pane-categories-panel-pane-1,
.pane-categories-panel-pane-2,
.pane-categories-panel-pane-3,
.pane-categories-panel-pane-4,
.pane-categories-panel-pane-5 {
  padding: rem(20px) 2.5%;
}
.page-search {
  .main-content-wrapper {
    @include container();
  }
}
.pane-views-exp-search-panel-pane-search,
.pane-announcements-panel-pane-1 {
  float: none;
}
.footer-wrapper {
  background: $white_neutral;
}
/* ***************** */
/* Menus and Related */
/* ***************** */


/* ************* */
/* Panes & Cards */
/* ************* */
.standard-white-pane {
  .pane-content {
    padding: rem(10px 20px);
  }
}

/* ************* */
/*     VIEWS     */
/* ************* */
.node-question,
.node-tutorials,
.node-experience-page,
.node-page {
  color: $text_color;
  a {
    color: $text_color;
  }
  .created {
    @include font-size(small, 300);
  }
  .node-details {
    @include clearfix;
  }
  .official-party {
    @include span(6 of 12);
    .field-item {
      @include icon(before, account_balance) {
        color: $gray;
      }
      a {
        @include font-size(normal);
        padding-left: rem(5px);
        text-decoration: none;
      }
    }
  }
  .legal-type {
    @include span(6 of 12);
    .field-item {
      @include icon(before, person) {
        color: $gray;
      }
      a {
        @include font-size(normal);
        padding-left: rem(5px);
        text-decoration: none;
      }
    }
  }
  .location {
    @include span(6 of 12);
    .field-item {
      @include icon(before, room) {
        color: $gray;
      }
      a {
        @include font-size(normal);
        padding-left: rem(5px);
        text-decoration: none;
      }
    }
  }
  .industry {
    @include span(6 of 12);
    .field-item {
      @include icon(before, domain) {
        color: $gray;
      }
      a {
        @include font-size(normal);
        padding-left: rem(5px);
        text-decoration: none;
      }
    }
  }
  .field-name-body {
    @include font-size(normal, 300);

    a {
      @include font-size(normal);
      @include ellipsis;
    }
  }
  .field-name-field-q-tags {
    .field-item {
      @include icon(before, local_offer) {
        color: $gray;
        position: relative;
        top: rem(2px);
      }
      a {
        @include font-size(small, 300);
        text-decoration: none;
        padding-left: rem(5px);
        text-transform: uppercase;
      }
    }
  }
  .field-name-field-q-useful-links {
    margin: rem(20px 0);
  }

  &.node-teaser {
    margin-bottom: rem(40px);

    h4 {
      margin-bottom: 0;
      a {
        @include font-size(bigger);
        text-decoration: none;
      }
    }
    .comment-count-clear {
      @include icon(before, chat) {
        font-size: 1.7rem;
        position: relative;
        top: rem(7px);
      }
    }

    .flag-super-wrapper {
      margin-right: rem(10px);
    }
    .status-pending {
      @include icon(before, sentiment_neutral) {
        font-size: 1.7rem;
        position: relative;
        top: rem(5px);
      };
    }
    .status-active {
      @include icon(before, sentiment_neutral) {
        font-size: 1.7rem;
        position: relative;
        top: rem(5px);
      };
    }
    .status-resolved {
      @include icon(before, sentiment_very_satisfied) {
        font-size: 1.7rem;
        position: relative;
        top: rem(5px);
      };
    }
    .status-closed {
      @include icon(before, sentiment_dissatisfied) {
        font-size: 1.7rem;
        position: relative;
        top: rem(5px);
      };
    }
    .status-wrapper, .field-name-field-q-status {
      display: inline-block;
    }
  }
}
.view-question-comments {
  .views-row {
    margin: rem(30px 0);
  }
}
.comment {
  .field-name-comment-body {
    @include font-size(normal, 300);
    a {
      @include font-size(normal);
      color: $text_color;
      word-wrap: break-word;
    }
  }
  > .links {
    li {
      a {
        text-decoration: none;
        background: $action_color;
        padding: rem(5px 10px);
        color: $white_neutral;
        @include border-radius(2px);
        @include font-size(small);
      }
    }
  }
}
.field-collection-item-field-q-useful-links {
  .field-name-field-ul-link {
    .field-item {
      @include font-size(small);
      @include icon(before, navigate_next) {
        color: $gray;
        position: relative;
        top: rem(2px);
      }
    }
  }
  .field-name-field-ul-description {
    .field-item {
      @include font-size(small, 300);
    }
  }
}
.view-announcements {
  .views-field-title {
    a {
      @include font-size(big);
      text-decoration: none;
      color: $dark_neutral;
    }
  }
  .views-field-body {
    @include font-size(normal, 300);
  }
  .views-field-field-date {
    @include font-size(small, 300);
  }
}
.view-trending {
  .view-content {
    .views-row {
      margin: rem(20px 0);

      .views-field {
        @include font-size(small, 300);
        color: $dark_neutral;
        display: inline-block;

        &.views-field-counter {
          @include font-size(normal, 400);
        }
        &.views-field-type {
          .icon {
            &.experience_page {
              @include icon(before, free_breakfast) {
                @include font-size(normal, 300);
                position: relative;
                top: 1px;
              }
            }
            &.question {
              @include icon(before, help) {
                @include font-size(normal, 300);
                position: relative;
                top: 1px;
              }
            }
            &.tutorials {
              @include icon(before, school) {
                @include font-size(normal, 300);
                position: relative;
                top: 1px;
              }
            }
          }
        }
        &.views-field-title {
          @include font-size(normal, 300);
          a {
            -ms-word-wrap:break-word;
            word-wrap:break-word;
            text-decoration: none;
            color: $dark_neutral;
            margin-right: rem(5px);
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &.views-field-totalcount,
        &.views-field-daycount,
        &.views-field-comment-count {
          background: $gray;
          padding: rem(0 5px);
          color: $light_color;
          @include border-radius(2px);
        }
      }
    }
  }
}
/* Industry */
.view-display-id-panel_pane_1 {
  .views-field-name {
    a {
      text-decoration: none;
      margin: rem(5px 0);
      display: inline-block;
      color: $dark_neutral;
      @include font-size(normal);
      @include icon(before, domain) {
        color: $gray;
        margin-right: rem(8px);
      }
    }
  }
}
/* Official Party */
.view-display-id-panel_pane_2 {
  .views-field-name {
    a {
      text-decoration: none;
      margin: rem(5px 0);
      display: inline-block;
      color: $dark_neutral;
      @include font-size(normal);
      @include icon(before, account_balance) {
        color: $gray;
        margin-right: rem(8px);
      }
    }
  }
}
/* Locations */
.view-display-id-panel_pane_3 {
  .views-field-name {
    a {
      text-decoration: none;
      margin: rem(5px 0);
      display: inline-block;
      color: $dark_neutral;
      @include font-size(normal);
      @include icon(before, room) {
        color: $gray;
        margin-right: rem(8px);
      }
    }
  }
}
/* Legal Type */
.view-display-id-panel_pane_4 {
  .views-field-name {
    a {
      text-decoration: none;
      margin: rem(5px 0);
      display: inline-block;
      color: $dark_neutral;
      @include font-size(normal);
      @include icon(before, person) {
        color: $gray;
        margin-right: rem(8px);
      }
    }
  }
}
/* Tags */
.view-display-id-panel_pane_5 {
  .views-field-name {
    a {
      text-decoration: none;
      margin: rem(5px 0);
      display: inline-block;
      color: $dark_neutral;
      @include font-size(normal);
      @include icon(before, local_offer) {
        color: $gray;
        margin-right: rem(8px);
      }
    }
  }
}

/* ***************************** */
/*  CUSTOM NODE-RELATED CONTENT  */
/* ***************************** */

/* ************************ */
/*  TAXONOMY-RELATED STUFF  */
/* ************************ */

/* ********************** */
/*  CUSTOM PANES CONTENT  */
/* ********************** */
.pane-governmental-progress-government-progress {
  .pane-title {
    @include icon(before, account_balance) {
      font-size: 1.5rem;
    }
  }
}

/* ************************** */
/*  OTHER RANDOM CUSTOM STUFF */
/* ************************** */
