/* *********** */
/* BREAKPOINTS */
/* *********** */
/* *********** */
/* SASS / SUSY */
/* *********** */
/* ************************************** */
/* **** REM CONVERSIONS AND RELATED ***** */
/* ************************************** */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/fonts/icomoon.eot?cqd9xk&1467556772');
  src: url('../fonts/fonts/icomoon.eot?cqd9xk&1467556772#iefix') format("embedded-opentype"), url('../fonts/fonts/icomoon.ttf?cqd9xk&1467556772') format("truetype"), url('../fonts/fonts/icomoon.woff?cqd9xk&1467556772') format("woff"), url('../fonts/fonts/icomoon.svg?cqd9xk&1467556772#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ***************************** */
/* General - or - Generic styles */
/* ***************************** */
/* ******************* */
/* Buttons and related */
/* ******************* */
/* ***************** */
/* Menus and related */
/* ***************** */
/* **************** */
/* TABS AND RELATED */
/* **************** */
/* *************** */
/* Panes and Cards */
/* *************** */
/* ******************** */
/* Ratings: Stars, etc. */
/* ******************** */
/* ************************ */
/* User and Profile related */
/* ************************ */
/* ****** */
/* Footer */
/* ****** */
/* *******************  */
/* MESSAGES and related */
/* *******************  */
/* ************* */
/* FORM ELEMENTS */
/* ************* */
/* ************* */
/* MISC ELEMENTS */
/* ************* */
/* *********************************** */
/* *********************************** */
/* *********************************** */
/* *************** */
/* *** GENERAL *** */
/* *************** */
/* ***************** */
/* Menus and Related */
/* ***************** */
/* ************* */
/* Panes & Cards */
/* ************* */
/* ************* */
/*     VIEWS     */
/* ************* */
/* ***************************** */
/*  CUSTOM NODE-RELATED CONTENT  */
/* ***************************** */
/* ************************ */
/*  TAXONOMY-RELATED STUFF  */
/* ************************ */
/* ********************** */
/*  CUSTOM PANES CONTENT  */
/* ********************** */
/* ************************** */
/*  OTHER RANDOM CUSTOM STUFF */
/* ************************** */
