////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

// Importing layout partials for panels.
@import "../global/base";


// Panels everywhere (panel for panels)
.top-wrapper {
  @include breakpoint($desktop) {
    display: block;
    .top {
      @include container();
    }
  }
}

.branding-navigation-wrapper {
  @include breakpoint($desktop) {
    display: block;

    .branding-navigation {
      @include container();

      @include element('branding_left') {
        @include span(6 of 12);
      }
      @include element('branding_right') {
        @include span(6 of 12);
      }
    }
  }
}

.top-region-wrapper {
  @include breakpoint($desktop) {
    .top-region {
      @include container();
    }
  }
}

.home-content-wrapper {
  @include breakpoint($desktop) {
    .home-content {
      @include container();

      .side-content {
        @include span(6 of 12);
      }
    }
  }
}

.footer-wrapper {
  @include breakpoint($desktop) {
    footer {
      @include container();
      @include clearfix;
      padding: rem(50px 0 50px);
      margin-top: rem(50px);

      .small-footer {
        @include span(3 of 12);
      }
    }
  }
}

.pane-views-exp-search-panel-pane-search,
.pane-announcements-panel-pane-1 {
  @include span(12 of 12 inside);
  margin: rem(20px 0);
}

.stats-line-wrapper {
  @include breakpoint($desktop) {
    background: $orange_color;
    .stats-line {
      text-align: center
    }
  }
}
.pane-page-breadcrumb {
  @include container();
}

.page-node {
  @include breakpoint($desktop) {
    .pane-page-content {
      @include container();

      .main-content-wrapper {
        @include span(8 of 12);
      }
      .sidebar-wrapper {
        @include span(4 of 12);
      }
    }
  }
}

.page-categories {
  .pane-categories-panel-pane-1,
  .pane-categories-panel-pane-2,
  .pane-categories-panel-pane-3,
  .pane-categories-panel-pane-4,
  .pane-categories-panel-pane-5 {
    padding: rem(20px);
  }
  @include breakpoint($desktop) {
    .pane-page-content {
      @include container();
      .pane-custom.pane-1 {
        @include span(12 of 12 inside);
        padding: 0;
      }
      .pane-categories-panel-pane-1,
      .pane-categories-panel-pane-2,
      .pane-categories-panel-pane-3,
      .pane-categories-panel-pane-4,
      .pane-categories-panel-pane-5 {
        width: 17.5%;
        margin-right: 2.5%;
        float: left;
      }
      .pane-categories-panel-pane-3 {
        width: 20%;
      }
      .pane-categories-panel-pane-4,
      .pane-categories-panel-pane-5 {
        margin-right: 0;
      }
    }
  }
}
