////////////////////////
// Fonts Partials
////////////////////////
@import "base";

@font-face {
  font-family: 'icomoon';
  src:    font-url('fonts/icomoon.eot?cqd9xk');
  src:    font-url('fonts/icomoon.eot?cqd9xk#iefix') format('embedded-opentype'),
  font-url('fonts/icomoon.ttf?cqd9xk') format('truetype'),
  font-url('fonts/icomoon.woff?cqd9xk') format('woff'),
  font-url('fonts/icomoon.svg?cqd9xk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  account_balance: "\e84f",
  account_box: "\e851",
  account_circle: "\e853",
  add_box: "\e146",
  add_circle: "\e147",
  control_point: "\e3ba",
  add_location: "\e567",
  queue: "\e03c",
  announcement: "\e85a",
  assignment_late: "\e85f",
  flag: "\e153",
  attach_file: "\e226",
  attach_money: "\e227",
  attachment: "\e2bc",
  beenhere: "\e52d",
  block: "\e14b",
  class: "\e86e",
  turned_in: "\e8e6",
  turned_in_not: "\e8e7",
  domain: "\e7ee",
  card_membership: "\e8f7",
  card_travel: "\e8f8",
  chat: "\e0b7",
  chat_bubble: "\e0ca",
  check: "\e5ca",
  check_box: "\e834",
  check_box_outline_blank: "\e835",
  check_circle: "\e86c",
  navigate_before: "\e408",
  navigate_next: "\e409",
  content_cut: "\e14e",
  mode_edit: "\e254",
  crop_free: "\e3c2",
  description: "\e873",
  directions_bike: "\e52f",
  directions_run: "\e566",
  directions_walk: "\e536",
  done: "\e876",
  done_all: "\e877",
  error: "\e000",
  error_outline: "\e001",
  expand_less: "\e5ce",
  expand_more: "\e5cf",
  favorite: "\e87d",
  favorite_border: "\e87e",
  sms_failed: "\e626",
  get_app: "\e884",
  file_upload: "\e2c6",
  question_answer: "\e8af",
  goat: "\e900",
  local_offer: "\e54e",
  room: "\e8b4",
  mood_bad: "\e7f3",
  offline_pin: "\e90a",
  panorama_wide_angle: "\e40f",
  pause_circle_filled: "\e035",
  pause_circle_outline: "\e036",
  people_outline: "\e7fc",
  person_outline: "\e7ff",
  person: "\e7fd",
  person_add: "\e7fe",
  reply_all: "\e15f",
  security: "\e32a",
  sentiment_dissatisfied: "\e811",
  sentiment_neutral: "\e812",
  sentiment_satisfied: "\e813",
  sentiment_very_dissatisfied: "\e814",
  sentiment_very_satisfied: "\e815",
  star_border: "\e83a",
  star_half: "\e839",
  stars: "\e8d0",
  supervisor_account: "\e8d3",
  thumb_down: "\e8db",
  thumb_up: "\e8dc",
  thumbs_up_down: "\e8dd",
  transfer_within_a_station: "\e572",
  verified_user: "\e8e8",
  video_library: "\e04a",
  videocam: "\e04b",
  wb_incandescent: "\e42e",
  work: "\e8f9",
  zoom_in: "\e8ff",
  zoom_out: "\e901",
  zoom_out_map: "\e56b"
);

// For adding font icons to elements using CSS pseudo-elements
// http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }
  // Either a :before or :after pseudo-element, or both, defaulting to :before
  &:#{$position} {
    @if $icon {
      // A particular icon has been specified
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      // Supportive icon styles required
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'icomoon';
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}
