////////////////////////
// Variables are defined here.
////////////////////////

/* *********** */
/* BREAKPOINTS */
/* *********** */
$desktop: 768px;

/* *********** */
/* SASS / SUSY */
/* *********** */
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: 'rem';

$susy: (
  columns: 12,
  container: 1170px,
  gutters: 30px/67px,
  gutter-position: split,
);

// General.
$action_color: #1f3a93;
$bookmark_color: #e74c3c;
$light_color: #eeeeee;
$danger_color: #d50000;
$warning_color: #ff6f00;
$success_color: #ffff00;
$dark_neutral: #000;
$white_neutral: #fff;
$orange_color: #ff7d1d;
$gray: #666;
$light_gray: #dedede;
$text_color: #333;


// Buttons

// Texts related.

// Ratings: Stars, Thumbs, etc.

// Tabs.

// Animations.
$easeOutExpo   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo : cubic-bezier(1.000, 0.000, 0.000, 1.000);
